<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.utpl.agendadocente">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.paralelo.CrearParalelo.crearParaleloActivity" />
        <activity android:name=".ui.asignatura.CrearAsignatura.AsignaturaCrearActivity" />
        <activity android:name=".ui.docente.CrearDocente.CrearDocenteActivity" />
        <activity android:name=".ui.cuestionario.CrearCuestionario.CuestionarioCrearActivity" />
        <activity android:name=".ui.cuestionario.ActualizarCuestionario.CuestionarioActualizarActivity" />
        <activity android:name=".ui.cuestionario.PresentarCuestionario.CuestionarioListaRecycleViewAdapter" />
        <activity android:name=".ui.evaluacion.ActualizarEvaluacion.EvaluacionActualizarActivity" />
        <activity android:name=".ui.evaluacion.PresentarEvaluacion.EvaluacionListaRecycleViewAdapter" />
        <activity android:name=".ui.tarea.PresentarTarea.TareaListaRecycleViewAdapter" />
        <activity android:name=".ui.tarea.CrearTarea.TareaCrearActivity" />
        <activity android:name=".ui.tarea.ActualizarTarea.TareaActualizarActivity" />
        <activity android:name=".ui.horario.PresentarHorario.HorarioListaRecycleViewAdapter" />
        <activity android:name=".ui.horario.ActualizarHorario.HorarioActualizarActivity" />
        <activity android:name=".ui.horario.CrearHorario.HorarioCrearActivity" />
        <activity android:name=".ui.periodo.CrearPeriodo.PeriodoCrearActivity" />
        <activity android:name=".ui.asignatura.ActualizarAsignatura.AsignaturaActualizarActivity" />
        <activity android:name=".ui.docente.ActualizarDocente.actualizarDocente" />
        <activity android:name=".ui.docente.PresentarDocente.DocenteListaRecycleViewAdapter" />
        <activity android:name=".ui.evaluacion.CrearEvaluacion.EvaluacionCrearActivity" />
        <activity android:name=".ui.paralelo.PresentarParalelo.DetalleParaleloActivity" />
        <activity android:name=".ui.periodo.ActualizarPeriodo.PeriodoActualizarActivity" />
        <activity android:name=".ui.paralelo.ActualizarParalelo.ParaleloActualizarActivity"/>
        <activity android:name=".ui.paralelo.Replicar.ReplicarActivity" />
    </application>

</manifest>